// footer
.footer-content {
    display: flex;
    flex-direction: column;
    font-family: @font-cabin;
    background: @header-bg;
    color: @white;
    margin-top: 1%;
    
    @media @phone {
        width: 100%;
        padding: 2% 0;
    }

    .footer-content-list {
        padding-top: 0.75%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media @phone {
            padding-bottom: 2%;
        }
        @media @break {
            padding: 2% 0;
        }
        .footer-content-item {
            display: flex;

            :visited {
                color: red;
            }
            :hover {
                color: blue;
            }

            a {
                text-decoration: none;
                color: @white;
            }
        }
    }
    

    .copyright { 
        padding-top: 0.75%;
        margin-bottom: 0.75%;
        text-align: center;
    }
}
