// footer
.footer-content {
    display: flex;
    flex-direction: column;
    font-family: @font-cabin;
    background: @header-bg;
    color: @white;
    margin-top: 1%;

    .footer-content-list {
        padding-top: 2%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;;

        .footer-content-item {
            display: flex;

            :visited {
                color: red;
            }
            :hover {
                color: blue;
            }

            a {
                text-decoration: none;
                color: @white;
            }
        }
    }

    .copyright {
        padding-top: 2%;
        margin-bottom: 2%;
        text-align: center;
    }
}
