// home-page
html, body {
    font-family: @font-titillium;
    height: 100%;
}

.video-container {
    .video-wrapper {
        // width: 100%;
        // height: 100%;
        position: absolute;
        margin-top: 0;
        margin-bottom: 0;
        

        .video {
            position: fixed;
            max-height: auto;
            // height: 100%;
            // width: 100%;
            // background: pink;
            // padding: 0;
            // margin: 0;
        }
    }
    .search-container {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0;
        // display: flex;
        // flex-direction: column;
        
        .search-box {
            width: 400px;
            height: 150px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            h1 {
                color: @white;
                font-size: 2rem;
                text-align: center;
            }
            .search-btn {
                display: flex;
                flex-direction: column;
                input {
                    height: 30px;
                }
                button {
                    height: 35px;
                    margin-top: 5px;
                    font-family: @font-cabin;
                    font-size: 1.4rem;
                }
            }
            p {
                color: @white;
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
    .overlay-footer {
        position: fixed;
        width: 100%;
        color: @white;
        // background: red;
        // position:absolute;
        bottom: 0;
        // left: 0;

        .index-footer-content {
            // top: 1000px;
            display: flex;
            flex-direction: column;
            font-family: @font-cabin;
            
            // position: absolute;
            // bottom: 0px;
            // background-position: 50% 50%;
            

            .index-footer-content-list {
                padding-top: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .index-footer-content-item {
                    display: flex;
                    font-size: 1.6rem;
                    padding-bottom: 2%;

                    a {
                        text-decoration: none;
                        color: @white;
                    }
                }
            }
            .copyright {
                display: none;
            }
        }

    }

}


.container {
    max-width: 1000px;
    width: 100%;
    
    min-height: 100%;
    margin: 0 auto;
    padding: 20px 0;
    h1 {
        font-size: 1.5rem;
        padding: 10px 0;
    }
    h3 {
        font-size: 1.3rem;
        padding: 10px 0;
        font-style: italic;
    }
    p {
        font-size: 1.2rem;
        padding: 5px 0;
        line-height: 1.5;
    }
    a {
        text-decoration: none;
        font-size: 1.2rem;
    }
}


// Contact page
.contact-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

    p {
        font-size: 2rem;
    }
    form {
        display: flex;
        flex-direction: column;
        label {
            font-size: 1.5rem;
            padding: 10px 0;
        }
        input {
            height: 35px;
        }
        textarea {
            height: 200px;
        }
        #submit {
            font-family: @font-cabin;
            font-size: 1.4rem;
            width: 40%;
            margin: 0 auto;  
            margin-top: 10px;
        }
    }
}

