// home-page
* {
    box-sizing: border-box;
}

html, body {
    font-family: @font-titillium;
    height: 100%;
}

.video-container {
    .video-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0;

        video {
            // height: 100%;
            // width: 100%;
            // background: pink;
            // padding: 0;
            // margin: 0;
        }
    }
    .search-container {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-top: 0;
        // display: flex;
        // flex-direction: column;
        
        .search-box {
            width: 400px;
            height: 150px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            h1 {
                color: @white;
                font-size: 3rem;
                text-align: center;
                padding-bottom: 15px;
            }
            .search-btn {
                display: flex;
                flex-direction: column;
                input {
                    height: 30px;
                    font-size: 1rem;
                    padding-left: 10px;
                }
                input::placeholder {
                    color: gray;
                    font-size: 1rem;
                    padding: 10px 0 0 10px;
                }
                button {
                    height: 35px;
                    margin-top: 15px;
                    font-family: @font-cabin;
                    font-size: 1.4rem;
                }
            }
            p {
                color: @white;
                font-size: 1.5rem;
                text-align: center;
                padding-top: 15px;
            }
        }
    }
    .overlay-footer {
        position: absolute;
        bottom: 0%;
        width: 100%;
        color: @white;
        // background: red;

        .index-footer-content {
            display: flex;
            flex-direction: column;
            font-family: @font-cabin;

            .index-footer-content-list {
                padding-top: 0;
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                .index-footer-content-item {
                    display: flex;
                    font-size: 1.6rem;

                    a {
                        text-decoration: none;
                        color: @white;
                        padding-bottom: 5px;
                    }
                    a:hover {
                        font-size: 1.7rem;
                    }
                    a:visited {
                        color: @white;
                    }
                }
            }
            .copyright {
                display: none;
            }
        }

    }

}


.container {
    max-width: 1000px;
    width: 100%;
    
    min-height: 80%;
    margin: 0 auto;
    padding: 20px 0;
    h1 {
        font-size: 1.5rem;
        padding: 10px 0;
    }
    h3 {
        font-size: 1.3rem;
        padding: 10px 0;
        font-style: italic;
    }
    p {
        font-size: 1.2rem;
        padding: 5px 0;
        line-height: 1.5;
    }
    a {
        text-decoration: none;
        font-size: 1.2rem;
    }
}


// Contact page
.contact-form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;

    p {
        font-size: 2rem;
    }
    form {
        display: flex;
        flex-direction: column;
        label {
            font-size: 1.5rem;
            padding: 10px 0;
        }
        input {
            height: 35px;
        }
        textarea {
            height: 200px;
        }
        #submit {
            font-family: @font-cabin;
            font-size: 1.4rem;
            width: 40%;
            margin: 0 auto;  
            margin-top: 10px;
        }
    }
}

.container.about {
    // background-color: red;

    display: flex;
    justify-content: space-between; 
    @media only screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        // width: 100%;
        // .developer {
        //     width: 100%;
        // }
    }
    
    .developer {
        width: 48%;
        background-color: #e8e8e8;
        border-radius: 5px;

        .avatar {
            // background-color: beige;
            height: 300px;
            width: 100%;
            img {
                max-height: 250px;
                max-width: 250px;
                height: 40%;
                width: 40%;
                position: absolute;  
                margin: 20px 0 0 20px;
            }
        }
        .devInfo {
            // background-color: lightsalmon;
            width: 100%;
            padding: 0 15px;
            display: flex;
            justify-content: space-between;
            .user-name {
                font-style: italic;
            }
        }
        .devBio {
            // background-color: lightgray;
            width: 100%;
            padding: 15px;
        }
    }
}



 //hello