.header-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #2F2F2F;
    padding: .75% 0 .75%;

    .header {
        display: flex;
        align-items: center;
        padding: .5% 0 .5% 1%;
        
        img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        h2 {
            white-space: nowrap;
            padding-left: 6%;
            font-size: 1.2rem;
            color: @white;
        }
    }

    .search-bar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 1%;

        .search-bar-input {
            width: 200px;
            height: 15px;
            
        }
    }
}
