.video-container {
    .search-container {

        // popup container       
        .popup {
          // display:flex;
          position: relative;
          z-index: 1;
          // width: 50px;
          color: @white;
          width: auto;

          @media @tablet {
            color: @black;
          }

          .help-popup-selector {
            display: flex;
            justify-content: center;
            padding-top: 5%;
            font-size: 1.6rem;
          }
          .popup-content {
            display: block;
            margin: auto;
            width: 80%;
            align-content: center;
            background: white;
            border: 1px solid #888;
            margin-top: 5%;
            // @media @break {
            //   opacity: 1;
            //   background: blue;
            // }
            p {
              color: @black;
            }
          }
          .hidden-popup {
            display: none;
          }
        }
    }
}
