.video-container {
    .search-container {

        // popup container       
        .popup {
            display: none; 
            position: fixed; 
            z-index: 1; 
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: auto;
            height: 350px;
            overflow: auto; /* Enable scroll if needed */

            p {
                color: black
            }
        }
        
          // popup content
          .popup-content {
            background: white;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 75%;
            height: auto;

            @media @break2 {
              // width: 100%;
            }
            @media @phone {
              // width: 50px;
            }
          }
          
          // close button
          .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        
            :hover {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            
          }
          
    }
}