// Color assignments 
@font-color: @black;
// @nav-bg: ;

// Fonts
// Cabin: Header, footer and buttons
@font-cabin: 'Cabin', sans-serif; 
// Standard page text
@font-titillim : 'Titillium Web', sans-serif;


// Colors
@white: #FFFFFF;
@black: #000;


